aiofiles==24.1.0
aiogram==3.17.0
aiohappyeyeballs==2.6.1
aiohttp==3.11.11
aiosignal==1.4.0
annotated-types==0.7.0
anyio==4.3.0
async-timeout==5.0.1
asyncpg==0.30.0
attrs==25.3.0
bcrypt==3.2.0
blinker==1.9.0
certifi==2025.7.9
cffi==1.17.1
chapa==0.1.2
-e git+https://github.com/chapa-Et/chapa-cli.git@d3f1a532181a11d4c42e8bd744b960c237d7ec2e#egg=chapa_cli
charset-normalizer==3.4.2
click==8.2.1
dotenv==0.9.9
exceptiongroup==1.3.0
fastapi==0.114.1
Flask==3.1.1
frozenlist==1.7.0
gunicorn==20.1.0
h11==0.16.0
httpcore==1.0.9
httpx==0.28.1
idna==3.10
itsdangerous==2.2.0
Jinja2==3.1.6
magic-filter==1.0.12
markdown-it-py==3.0.0
MarkupSafe==3.0.2
mdurl==0.1.2
multidict==6.6.3
propcache==0.3.2
psycopg==3.1.18
psycopg2==2.9.10
pycparser==2.22
pydantic==2.10.6
pydantic_core==2.27.2
Pygments==2.19.2
pyngrok==7.2.12
pyTelegramBotAPI==4.20.0
python-dotenv==1.0.1
PyYAML==6.0.2
redis==6.2.0
requests==2.32.4
rich==14.0.0
six==1.17.0
sniffio==1.3.1
starlette==0.38.6
telebot==0.0.5
typing-inspection==0.4.0
typing_extensions==4.14.1
urllib3==2.5.0
uvicorn==0.34.0
Werkzeug==3.1.3
yarl==1.20.1
PyJWT==2.8.0
python-jose[cryptography]

